<div class = "container">
  <div class="title">  Juegos Favoritos </div>
  <div *ngFor="let juego of juegos">
    <div>
      <img src={{juego.image}} height="100px">
    </div>
    <div class = "">
      <div> Título: {{juego.title}} </div>
      <button type="button" class="add-button" (click)="addJuego(juego); juego.title=''">
        <img src="./assets/añadir.png" width="30px" height="30px">
      </button>
    </div>
  </div>
</div>
<!--
        <li routerLink='/favoritos/{{juego.id}}'>Género: {{juego.genre}}</li>
        <li routerLink='/favoritos/{{juego.id}}'>Plataformas: {{juego.platform}}</li>
        <li routerLink='/favoritos/{{juego.id}}'>Desarrolladores: {{juego.publisher}}</li>
      -->
