header {
  width: 100%;
  background-color: #151e94;
}

button {
  background-color: transparent;
  border: none;
}

.filtro {
  background-color: transparent;
  border: none;
  width: 160px;
  height: 40px;
  color: white;
}

.filtro-favoritos {
  background-color: transparent;
  border: none;
  width: 160px;
  height: 40px;
  color: rgb(172, 5, 136);
}

.filtro-favoritos:hover {
  background-color: #131979;
}
.filtro:hover {
  background-color: #131979;
}

input {
  border: none;
}

.category {
  display:flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
}

.busqueda {
  position: relative;
  left: 400px;
  margin-top: 37px;
}

.titulo {
  position: relative;
  left: 130px;
  width: 200px;
  height: 100px;
  margin-left: 10px;
}

.lupa {
  width: 35px;
  height: 25px;
}

@media(min-width:910px){
  .header{
    margin-left: 200px;
  }
}

