<header>
    <div class="container">
      <button routerLink=""> <img class="titulo" src="./assets/MyGames.png"/> </button>
      <div class="busqueda">
        <input type = "text" [(ngModel)]="title">
        <button (click)="busquedaJuego()"> <img class="lupa" src="./assets/lupa.png"/> </button>
      </div>
    </div>
    <div class="category">
      <mat-nav-list>
        <button class="filtro" (click)="filtrarEstrategia()">
          Estrategia
        </button>
        <button class="filtro" (click)="filtrarDeportes()">
          Deportes
        </button>
        <button class="filtro" (click)="filtrarFantasia()">
          Fantasia
        </button>
        <button class="filtro" routerLink="/topJuegos">
          Top Juegos
        </button>
        <button class="filtro-favoritos" routerLink="/juego">
          Favoritos
        </button>
      </mat-nav-list>
    </div>

<header>
