<div class="contaniner">
  <div class="title"> Juegos de Deportes </div>
  <div class="bucle" *ngFor="let juego of juegos">
    <div class="imagen-info">
      <img src={{juego.thumbnail}} height="230px" width="200px">
      <div class="column">
        <div class="infoPosition">
          <b> Titulo: </b> {{juego.title}}
          <b> Genero: </b> {{juego.genre}}
          <b> Plataforma: </b> {{juego.platform}}
          <b> Desarrollador: </b> {{juego.publisher}}
        </div>
        <button type="button" class="add-button" (click)="addJuego(juego)">
          <img src="./assets/añadir.png" width="20px" height="20px">
        </button>
      </div>
    </div>
  </div>
</div>
